# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore any .env files (containing sensitive information such as API keys)
.env

# Ignore npm's debug log file
npm-debug.log

# Ignore yarn's debug log file
yarn-debug.log
yarn-error.log

# Ignore Mac OS X's hidden files
.DS_Store

# Ignore production build files
/build

# Ignore any local development config files
config.js

# Ignore any user-specific files
*.pem

# Ignore VS Code config files
.vscode/

# Ignore Jest coverage directory
coverage/

# Ignore any .DS_Store files created by macOS
.DS_Store

# Ignore .env.local files, which could be used for local environment variables
.env.local

# Ignore .env.development.local files, which could be used for development environment variables
.env.development.local

# Ignore .env.test.local files, which could be used for test environment variables
.env.test.local

# Ignore .env.production.local files, which could be used for production environment variables
.env.production.local

# Ignore Next.js build output directory
/.next/
